.statsLi{
    /* list-style: none; */
    margin: 0.5rem;
    text-align: center;
  }
.stats ul{
  list-style: none;
  margin: 0;
  padding: 0;
  /* font-family: 'Press Start 2P', cursive; */
}
.types{
  margin:1rem 0
}
.types span{
    margin: 0.25rem;
  }