*{
  font-family: 'Press Start 2P', cursive;
}
.App{
  /* display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr ;
  justify-content: space-evenly; */
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
/* .toogle{
  
} */
.show{
  visibility: hidden;
}
.mainPok{
  display: flex;
  flex-direction: row;
}
.localButton{
  width: 90px;
  height: 30px;
  margin: 5px;
}



