.App{
  /* justify-self: center;
  align-self: center;
  border: 2px solid black;
  border-radius: 10%;
  position:relative;
  top: 50vh; */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr ;
  justify-content: space-evenly;
  /* transform: translate(0, -50%);
  grid-template-areas: 
  "img stat"
  "name type"
  "input . "
  "button luck";
  justify-items: center;
  align-items: center; */
}
/* .App:hover{
  background-color: gold;
}
.pokeName{
  justify-self: stretch;
  text-align: center;
  grid-area: name;
  
} */
.toogle{
  grid-area:1/1/2/2;
  width: 100px;
  height: 30px;
  margin: 10px;
}




